*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    align-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 20px;
    border: 1px #070f36 solid;
}
.container-childs{
    padding: 20px 20px;
}
.container h1{
    font-size: 4rem;
    text-align: center;
    color: #21effa;
    margin: 20px auto;
}
.container p{
    font-size: 2rem;
}
.content{
    width: 100vh;
    height: 50vh;
}
.footer{
    margin: 20px 20px;
    font-size: 2rem;
    border: 2px #ea1249 solid;
    background-color: #69022d;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-contact{
    margin: 7px 30px;
}
.footer-made{
    margin: 7px 30px;
}